.error {
  background-color: red;
}
.ok {
  background-color: green;
}
#card {
  width: 300px;
  margin: 20px;
  display: inline-block;
  justify-content: flex-start;
  padding: 20px;
}
body {
  background-color: gray;
}
